<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @alien.name %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @alien.age %>
</p>

<%= link_to 'Editar', edit_alien_path(@alien) %> |
<%= link_to 'Voltar', aliens_path %>
